@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

::-webkit-scrollbar-track {
  background: red;
 }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  background-color: #393E46!important;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.title {
  font-size: larger;
}

.podk {
  font-family: "Podkova", serif;
}

.home-bg {
  background-color: #18191b!important;
}

.navBar {
  font-family: "Podkova", serif;

  color: #f4f4f4;
}

.navBar select,
.navBar input {
  color: black;
}

.walletWrapper {
  display: flex;
}

.walletWrapper button {
  margin: 3px;
}

.chainBox {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.chainPicker {
  border-radius: 5px;
  margin-right: 15px;
}

.dappBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chainBox select,
.dappBox input {
  width: 235px;
  margin-left: 5px;
  background-color: #414c5b;
  color: #f4f4f4;
}

.hero-stage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 2px solid #4ECCA3;
  border-radius: 50%;
  display: inline-block;
}

.flex-item {
  position: relative; /* Needed for absolute positioning of pseudo-elements */
  padding: 10px; /* Add padding to space out items */
}

.done {
  background-color: #4ECCA3;
}

.line {
  /* Common styles for all lines */
  min-width: 0;
  background-color: #4ECCA3;
  margin: 15px;
}

.line:not(:nth-last-child(-n+2)) {
  height: 2px; /* Adjust based on your needs */
  min-width: 3px;
  top: 50%; /* Center the line vertically */
  flex-grow: 10;
}

.prev-button,
.next-button {
  width: 0;
  height: 0;
  border-style: solid;
}

.prev-button {
  border-width: 15px 20px 15px 0;
  border-color: transparent #4ECCA3 transparent transparent;
  margin-right: 30px;
}

.next-button {
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #4ECCA3;
}


.md {
  color: white;
  max-height: "300px";
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  scrollbar-color: #ffffff50 #393E46;

}

.mdpost {
  color: white;
  max-height: "300px";
  overflow: hidden;
}

.md > h1, 
.md > h2, 
.md > h3, 
.md > h4, 
.md > h5, 
.md > h6 {
  all:revert;
  font-weight: normal;
  padding-left: 2px;
  padding-right: 2px;
  margin: 15px 0;
  font-weight: bold;
}

.md > p {
  
  margin-top: 10px;
}

.md > blockquote {
  all:revert;
  border-left: 3px solid #408040;
  font-style: italic;
  padding-left: 5px;
  margin-left: 2px;
}
.md > pre {
  all:revert;
  background: #232931;
  border-left: 5px solid #55AAFF;
  padding: 5px;
  margin-left: 2px;
}
.md > code {
  all:revert;
  background: #00000060;
  border-radius: 2px;
  font-family: JetBrains Mono NL, Courier New, Monospaced;
  font-size: 0.9em;
}
.md > table {
  all:revert;
  border-spacing: 0px;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}
.md > th, 
.md > td {
  all:revert;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}
.md > th {
  all:revert;
  background: #D4D4D4;
  font-weight: 600;
}
.md > ul {
  all:revert;
  margin-left-ltr: 20px;
  margin-right-rtl: 20px;
}
.md > ol {
  all:revert;
  margin-left-ltr: 25px;
  margin-right-rtl: 25px;
}

.input {
  background-color: #26282a;
}

.md pre {
  overflow-x: scroll;
}


.stack-home {
  width: 1000px;
}
.stack-card {
  height: 520px;
  /* background-position: "right 50% bottom -50px" */

}

.stack-card-text {
  font-family: Arial;
  font-weight: 800;
  font-size: 36pt;
  line-height: 1.1;
}
.class-container {
  height: calc(100vh - 184px);
  display: flex;
}
@media only screen and (max-width:  768px) {
  .stack-home {
    width: 100%;
  }
  .stack-card {
    height: 220px;
    display: flex;
    flex-direction: row!important;
  }
  .stack-card-text{
    font-size: 18pt;
  }

  .hero-stage .line {
    margin: 2px;
    max-width: 1px;
  }

  .class-container {
    height: auto;
    flex-wrap: wrap;
    display: block;
  }

  .md {
    width: 100%!important;
    /* flex: 100%!important; */
  }


}